
*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    
background-size: cover;
overflow-x: hidden;
}

.menuimagem{
    background-image: url("/public/img/menu.jpg") ;
    

}
.topo-site{
        opacity: 1.0;
        text-align: center;
        background: rgba(42, 141, 255, 0.3);
        
        padding: 20px;
        height: 30vh;
        margin-bottom: 20px;
        

}

.titulo-Fly{
    
    
    color: white;
}

.menu1 {
    
    list-style-type: none;
    display: flex;
    margin: 50px;
    margin-left: 150px;
    justify-content: space-around; /*alinhamento para menu show de bola*/
}

.menu1 li {

    letter-spacing: 3px;
   
    
    
}

.menu1 li a {
    
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    font-size: 20px;
    transition: 0.7s;
}

.menu1 li a:hover{
    
    
    color: black;
    
    
    
}



.boa-vinda{
    text-align: center;
    margin: 20px;
}

.subtitulo{
    text-align: center;
    margin: 20px;
    color: rgb(42, 141, 255);
    font-weight: bold;
    font-size: 20px;
}


    

.caixa1{
    background-color: rgb(42, 141, 255) ;
    padding: 10px;
    margin: 30px;
    width: 300px;
    height: 700px;
    font-size: 18px;
    text-align: center;
    border-radius: 50px;
    
    
}

.textohome{
    font-size: xx-large;
}

.linhahome{
   border: solid rgb(0, 0, 0) 2px;
   border-radius: 10px;

}

.btn-danger{
    border-radius: 25px;
}

.imagem{
    width: 200px;
    height: 200px;
    margin: 5px;
    border-radius: 10px;
}

.preco{
    color: white;

}
.comprar{
    border-radius: 10px;
    background-color: blue;

    
}
.comprar a{
    text-decoration: none;
    color: white;
}

.conteudo{
    margin-left: 150px;
    
    
}


.rodape{
    clear:left;
    text-align: center;
    padding: 10px;
    background-color: rgb(42, 141, 255);
    margin-top: 20px;
    
}

.rodape-1{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

/*Destino*/
.p-destino{
    font-size: 12px;
}

/*Hospedagem*/
.hcaixa{
    margin-bottom: 50px;
    width: 800px;
    background-color: orangered;
    text-align: center;
    padding: 10px;
    color: white;
    border-radius: 200px;
    font-size: 50px;
}

.chosp{
    background-color: rgb(255, 255, 255);
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 50px;
    font-size: 20px;
}

/*Promoção*/

.naviopromo{
    margin-left: 40px;
}
.textocentralpromo{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.risco{
    text-decoration: line-through;
    font-size: 9px;
    margin-top: 10px;
    margin-bottom: -2px;
}

.promocard{
    width: 404px;
    margin: 10px;
    background-color: rgb(170, 210, 255);
    border: solid rgb(42, 141, 255) 2px;
    border-radius: 10px;
    
}

.promo1{
    width: 400px;
    border-radius: 10px;
    
}
.promotexto{
    padding: 10px;
}
.titulopromo{
    font-weight: bold;
}

.t1{
    font-size: 13px;
    margin-top: -15px;
    
}
.t2{
    font-size: 10px;
    margin: 0;
    padding: 1px;
}
.t3{
    font-size: 10px;
    color: forestgreen;
}
.precopromo{
    color: coral;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.containerpromo{
    display:flex
}
/*Area cliente*/

.a-c{
    background-color: darkgrey;
    width: 800px;
    margin-left: 150px;
    margin-top: 25px;
    padding: 50px;
    border-radius: 10px;
}

.a-ctitulo{
    padding: 10px;
}

/*Contato*/
.contato1{
    font-weight: bold;
}

.contatocor{
    background-color: rgb(170, 210, 255);
    border-radius: 50px;
}
